<html>
<head>
	 <link rel="stylesheet" href="/style/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/style/blueprint/print.css" type="text/css" media="print"><!--[if lt IE 8]><link rel="stylesheet" href="/style/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<style>
#explain{
	font-style: italic;
}

.container {
	/*border: 1px solid #000;*/
}

#item{
		/*border: 1px solid #000;*/
		text-align: center;	

}

</style>

</head>

<body>

<div class="container">

<div id="item" class="span-24">
	<p id="explain">Select which movie you prefer of the two options.</p>


<form>
<div class="span-10 push-1" id="option1">
<img src="images/slave.jpg" />
<h3>12 Years a Slave (2013)</h3>
<p><input type="submit" value="Prefer"/></p>

</div>

<div class="span-10 push-1" id="option2">
	<img src="images/dune.jpg" />
<h3>Dune (1984)</h3>
<p><input type="submit" value="Prefer"/></p>

</div>
	
</form>

</div>

</div>

</body>

</html>